/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/vcs.xml
/.idea/workspace.xml
/public/.DS_Store
/public/images/.DS_Store
/.DS_Store
/public/images/icons/.DS_Store
/.idea/php.xml
/.idea/VotingSystem.iml
/.idea/laravel-plugin.xml
.DS_Store
